.dataResults {
    display: none;
    position: absolute;
    margin-top: 0px;
    width: 97%;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  
  .dataResults .dataItems {
    display: block;
    position: relative;
    width: 100%;
    height: 25px;
    
    align-items: center;
    color: black;
  }
  
  .dataItems p {
    margin-left: 10px;
  }
  .dataResults a {
    display: block;
    text-decoration: none;
  }
  
  .dataResults a:hover {
    background-color: lightgrey;
  }

  .dropdown{
    display: inline-block;
    position: relative;
    
  }

  .dropdown:hover .dataResults {
    display: block;
  }