.contenaireBox {
    text-align: center;
}
#id_box{
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    
}
.contenaireCategorie{
    width: 20%;
}
.contenaireCategorie{
    width: 20%;
}.contenaireProd{
    width: 20%;
}
#categorie{
   
    color: black;
    font-weight: bold;
    font-family:  sans-serif;
    
}

#categorieValue{
    margin-left: 5px;
    font-family: sans-serif;
    
}

#produit{
    
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-align:left;
}
#produitValue{
    margin-left: 5px;
    font-family: sans-serif;
    
}