.contenaireBox {
    text-align: center;
}
.contenerProd{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}
#id_box{
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    
}


#categorie{
   
    color: black;
    font-weight: bold;
    font-family:  sans-serif;
    
}

#categorieValue{
    margin-left: 5px;
    font-family: sans-serif;
    
}

#produit{
    
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-align:left;
}
#produitValue{
    margin-left: 5px;
    font-family: sans-serif;
    
}