
.ticket {
    font-size: 8px;
    font-family: 'Times New Roman';
    width: 55mm;
    max-width: 55mm;
    height: 40mm;
    max-height: 40mm;
    text-align: center;
    padding-top: 5px;
}
.ticket span{
    font-size: 11px;
}

/*
@media print {
    * {
        visibility: hidden;
    }

    .display-print {
        visibility: visible;
       
        
    }

    .display-print * {
        visibility: visible;
    } 
    
}

*/
    
   


