#produitFourni{
    border-style: solid;
    border-color: rgb(1, 11, 31);
    border-radius: 10px;
    padding: 20px;
    margin-left: 7%;
}

#boxBtn {
    height: 30;
    width: 35%;
    margin-left: 65%;
}

#containerGlobal{
    padding: 0px;
}