#produitFourni{
   border-radius: 10px;
    padding: 20px;
    margin-left: 7%;
    background-color: #cfcfcf;
}

#boxBtn {
    height: 30;
    width: 35%;
    margin-left: 65%;
}

#containerGlobal{
    padding: 0px;
}