#produitFourni {
  border-radius: 10px;
  padding: 20px;
  position: static;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
}

#containerGlobal {
  padding: 0px;
}
