
.ticket {
    font-size: 12px;
    font-family: 'Times New Roman';
    width: 55mm;
    max-width: 55mm;
    height: 45mm;
    max-height: 45mm;
}

/*
@media print {
    * {
        visibility: hidden;
    }

    .display-print {
        visibility: visible;
       
        
    }

    .display-print * {
        visibility: visible;
    } 
    
}

*/
    
   


