.dataResult {
    display: none;
    position: absolute;
    margin-top: 0px;
    width: 97%;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  .dataResult::-webkit-scrollbar {
   /* display: none;*/
  }
  
  .dataResult .dataItem {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  .dataResult a {
    display: block;
    text-decoration: none;
  }
  
  .dataResult a:hover {
    background-color: lightgrey;
  }

  .dropdown{
    display: inline-block;
    position: relative;
    
  }

  .dropdown:hover .dataResult {
    display: block;
  }


