.bill {
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.64);
    width: 500px;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  
  
  
  
  /*----------- print settings ----------*/
  @media print {
    @page {
      width: 55mm;
      height: 45mm;
      margin: 1px;
    }
  
   
  }
    